{% extends "layout.html" %}

{% block body %}

<table>
    <tr>
        <th>Eläimen nimi</th>
        <th>Kasvattaja</th>
        <th>Rotu</th>
        <th>Sukupuoli</th>
        <th>Väritys</th>
    </tr>

    {% for elain in elaimet %}

    <tr>
        <td>
            {{ elain.nimi }}
        </td>
        <td>
            {{ elain.kasvattaja }}
        </td>
        <td>
            {{ elain.rotu }}
        </td>
        <td>
            {{ elain.sukupuoli }}
        </td>
        <td>
            {{ elain.varitys }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}