{% extends "layout.html" %}

{% block body %}

  <table>
    <tr>
      <th>Pentue</th>
      <th>Syntymäaika</th>
      <th>Kasvattaja</th>
    </tr>
    {% for pentue in pentueet %}
    
    <tr>
      <td>
        <a href="{{ url_for('pentue_yksi', pentue=pentue.id)}}">{{ pentue.nimi }}</a>
      </td>
      <td>
          {{ pentue.syntynyt }}
      </td>
      <td>
        {{ pentue.kasvattaja_nimi }}
      </td>
      {% if current_user.is_authenticated %}

        {% endif %}
    </tr>
    {% endfor %}
  </table>

{% endblock %}