{% extends "layout.html" %}

{% block body %}

<h2>Pentueet</h2>
<table class="table">
  <tr>
    <th>Pentue</th>
    <th>Syntymäaika</th>
    <th>Kasvattaja</th>
  </tr>

  {% if pentueet is defined %}
  {% for pentue in pentueet %}

  <tr>
    <td>
      <a href="{{ url_for('pentue_yksi', pentue=pentue.id)}}">{{ pentue.nimi }}</a>
    </td>
    <td>
      {{ pentue.syntynyt }}
    </td>
    <td>
      {{ pentue.kasvattaja_nimi }}
    </td>
    {% if current_user.role == "ADMIN" %}
    <td>
      <form method="POST" action="{{ url_for('pentue_poista', pentue_id=pentue.id) }}">
        <input type="submit" value="Poista" class="btn" />
      </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
  {% endif %}
</table>

{% endblock %}