{% extends "layout.html" %}

{% block body %}

<p>Pentue: {{ pentue.nimi }}, {{ pentue.id }}, {{ pentue.syntynyt }}</p>

<form method="POST" action="{{ url_for('pentue_muokkaa', pentue=pentue.id) }}">
    <div class="form-group row">
        {{ form.nimi.label(class_="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
        {{ form.nimi(class_="form-control") }}
        </div>

        <ul>
            {% for error in form.nimi.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="form-group row">
        {{ form.syntynyt.label(class_="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
        {{ form.syntynyt(class_="form-control") }}
        </div>

        <ul>
            {% for error in form.syntynyt.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="form-group row">
        {{ form.kasvattaja.label(class_="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
          {{ form.kasvattaja(class_="form-control") }}
        </div>
    
        <ul>
          {% for error in form.kasvattaja.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>

    <div class="form-group col-sm-10 row">
        <input type="submit" value="Päivitä pentueen tiedot" class="btn" />
    </div>



</form>

{% endblock %}