{% extends "layout.html" %}

{% block body %}

<h2>{{ kasvattaja.nimi }} {{ pentue.nimi }}</h2>
<table class="table">
    <tr>
        <td>Emä:</td>
        <td>{{ ema.nimi }}</td>
    </tr>
    <tr>
        <td>Isä:</td>
        <td>{{ isa.nimi }}</td>
    </tr>
    <tr>
        <td>Syntynyt:</td>
        <td>{{ pentue.syntynyt }}</td>
    </tr>
    <tr>
        <td>Kasvattaja:</td>
        <td>{{ kasvattaja.nimi }}</td>
    </tr>

</table>
{% if current_user.is_authenticated %}
<p><a href="{{ url_for('pentue_muokkaa', pentue=pentue.id) }}"">Muokkaa pentueen tietoja</a></p>
{% endif %}

<h3>Pentueen eläimet</h3>

<table class="table">
    <tr>
    <th>Nimi</th>
    <th>Sukupuoli</th>
    <th>Rotu</th>
    </tr>
        {% for pentu in pentue.pennut %}
        <tr>
        <td>{{ pentu.nimi }}</td>
        <td>{{ pentu.sukupuoli }}</td>
        <td>{{ pentu.rotu }}</td>
    </tr>
        {% endfor %}
</table>

{% if current_user.is_authenticated %}
<p><a href="{{ url_for('pentu_lisaa', pentue=pentue.id) }}"">Lisää pentu</a></p>
{% endif %}

{% endblock %}