{% extends "layout.html" %}

{% block body %}
<h2>Kasvattajat</h2>
<table class="table">
  <tr>
    <th>Kasvattajanimi</th>
    <th>Pentueet</th>
    <th>Pennut</th>
    <th>Kasvatettavat rodut</th>
  </tr>

  {% if kasvattajat is defined %}
  {% for kasvattaja in kasvattajat %}
  <tr>
    <td>
      {{ kasvattaja.nimi }}
    </td>
    <td>
      {{ kasvattaja.pentueita }}
    </td>
    <td>
      {{ kasvattaja.pentuja }}
    </td>
    <td>
      <ul class="list-inline">
        {% for rotu in kasvattaja.rodut %}
        <li class="list-inline-item">{{ rotu.nimi }}</li>
        {% endfor %}
      </ul>
    </td>
  </tr>
  {% endfor %}
  {% endif %}
</table>

{% endblock %}