{% extends "layout.html" %}

{% block body %}

<h2>Eläimet</h2>

{% if elaimet is defined %}

<table class="table">
    <tr>
        <th>Nimi</th>
        <th>Rotu</th>
        <th>Sukupuoli</th>
        <th>Väritys</th>
    </tr>
  {% for elain in elaimet %}
  <tr>
      <td>
            {{elain.elain_nimi}}
      </td>
      <td>
            {{ elain.rotu_nimi }}
      </td>
      <td>
            {{ elain.elain_sukupuoli }}
      </td>
      <td>
            {{ elain.elain_varitys }}
      </td>
  </tr>

  {% endfor %}

</table>
{% endif %}


{% endblock %}