{% extends "layout.html" %}

{% block body %}

<table class="table">
    <tr>
        <th>Eläimen nimi</th>
        <th>Rotu</th>
        <th>Sukupuoli</th>
        <th>Väritys</th>
    </tr>

    {% for elain in elaimet %}

    <tr>
        <td>
            {{ elain.nimi }}
        </td>
        <td>
            {{ elain.rotu_nimi }}
        </td>
        <td>
            {{ elain.sukupuoli }}
        </td>
        <td>
            {{ elain.varitys }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}