{% extends "layout.html" %}

{% block body %}
<h2>Lisää eläin</h2>
<form method="POST" action="{{ url_for('elain_lomake') }}">
  {{ form.csrf_token }}
  <div class="form-group row">
    {{ form.nimi.label(class_="col-sm-2 col-form-label") }}
    <div class="col-sm-10">
      {{ form.nimi(class_="form-control") }}
    </div>

    <ul>
      {% for error in form.nimi.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="form-group row">
    {{ form.sukupuoli.label(class_="col-sm-2 col-form-label") }}
    <div class="col-sm-10">
      {{ form.sukupuoli(class_="form-control") }}
    </div>

    <ul>
      {% for error in form.sukupuoli.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="form-group row">
    {{ form.varitys.label(class_="col-sm-2 col-form-label") }}
    <div class="col-sm-10">
      {{ form.varitys(class_="form-control") }}
    </div>

    <ul>
      {% for error in form.varitys.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="form-group row">
    {{ form.rotu.label(class_="col-sm-2 col-form-label") }}
    <div class="col-sm-10">
      {{ form.rotu(class_="form-control") }}
    </div>

    <ul>
      {% for error in form.rotu.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="form-group col-sm-10 row">
    <input type="submit" value="Lisää eläin" class="btn" />
  </div>
</form>

{% endblock %}