{% extends "layout.html" %}

{% block body %}

<table>
    <tr>
        <th>Rotu</th>
        <th>Linja</th>
        <th></th>
    </tr>
    {% for rotu in rodut %}

    <form method="POST" action="{{ url_for('rotu_muokkaa', rotu_id=rotu.id) }}">
        <tr>
            <td>
                <input type="text" name="nimi" value="{{ rotu.nimi }}" />
            </td>
            <td>
                <input type="text" name="linja" value="{{ rotu.linja }}" />
            </td>
            <td>
                <input type="submit" value="Päivitä rodun tiedot" />
            </td>
        </tr>
    </form>
    <tr>
        <td>

        </td>
        <td>

        </td>
        <td>
            <form method="POST" action="{{ url_for('rotu_poista', rotu_id=rotu.id) }}">
                <input type="submit" value="Poista rotu" />
            </form>
        </td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}