{% extends "layout.html" %}

{% block body %}

  <table class="table">
    <tr>
      <th>Rotu</th>
      <th>Linja</th>
    </tr>
    {% for rotu in rodut %}
    
    <tr>
      <td>
          {{ rotu.nimi }}
      </td>
      <td>
          {{ rotu.linja }}
      </td>
      {% if current_user.role == "ADMIN" %}
      <td>
          <a href="{{ url_for('rotu_muokkaa_yksi', rotu=rotu.id) }}">Muokkaa</a>
        </td>
        <td>
            <form method="POST" action="{{ url_for('rotu_poista', rotu=rotu.id) }}">
                <input type="submit" value="Poista" class="btn" />
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
  </table>

{% endblock %}